<section id="ins">
    <div class="container-fluid">
        <div class="row">
            <div id="insta-tittle" class="col">
                <h1>Instagram</h1>
            </div>
            <div class="col-4"><img src="../assets/ins-img_1.jpg" alt="screenshot de perfil de Instagram"></div>
            <div class="row">
                <div class="col-5">
                <p>Este es mi perfil de Instagram. Actualmente es la red que más utilizo en el dáa a día. Muestra más que nada mi faceta de músico que hoy en dia sigo siendo.  Este es el link para mi perfil!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="link">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Linkedin</h1>
            </div>
            <div class="col-4"><img src="../assets/link-img_1.jpg" alt="screenshot de perfil de Linkedin"></div>
            <div class="row">
                <div class="col-5">
                <p>En Linkedin aparece mi recorrido por el mundo del Front-End Dev. Todo comenzó con un curso de introducción en UTN y acá estamos. Ingresá aca por si queres hechar un vistazo :).
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dis">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Discord</h1>
            </div>
            <div class="col-4"><img src="../assets/dis-img_1.jpg " alt="screenshot de perfil de Discord"></div>
            <div class="row" >
                <div class="col-5">
                <p>Esta "red" ha sido una salvación en la pandemia para mi. Acordemosnos que hubo festejos de cumpleaños en plena pandemia. Ahora esta mas para mesa de estudio virtual. Puede ser no? Acá te dejo el link. </p>
                </div>
            </div>
        </div>
    </div>
</section>
