<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba 1</title>
</head>
<body>

  <header>
    <h1>Hola, soy una prueba</h1>
    <h4>Hoy vemos el comportamiento de interaccion entre archivo y archivo</h4>
  </header>
  <main>
    <div class="intro-secction">
      <div class="box1"><h1>Aca ingresa un Titulo!</h1></div>
      <div class="box2">
        <h3>¡Titulo NewsLetter!</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur modi maiores cumque culpa earum quo dolor rerum nulla, iure adipisci.</p>
      </div>
      <div class="box3"></div>
      <div class="box4"></div>
      <div class="box5"></div>
      <div class="box7"></div>
    </div>
  </main>
</body>
</html> -->

<div class="wrapper">
  <app-header class="header"></app-header>
  <app-main class="main"></app-main>
  <app-menu class="menu"></app-menu>
</div>